﻿@model MinuKolmasMVC.Models.Auto

@{
    ViewBag.Title = "Andmed";
}

<h2>Andmed</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mudel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mudel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VäljalaskeAasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VäljalaskeAasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Värv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Värv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
