﻿@using MinuKolmasMVC.Models;

@{
        ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Meie töötajad:
</p>
<div>
    <table class="table">
        <tr>
            <th>Eesnimi</th>
            <th>Perenimi</th>
        </tr>
        @foreach (Employee e in ViewBag.Töötajad)
        {

            <tr>
                @* 
                    siin tuleb kasutada kas DisplayFor meetodit
                    või siis kirjutada avaldis @() sulgude vahel
                    muidu see razor leiab liiga vara, et avaldis lõppes ära
                *@
                <td>
                    @Html.DisplayFor(model => e.FirstName)
                    @*@e.FirstName*@
                </td>
                <td>
                    @Html.DisplayFor(model => e.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => e.Manager.FullName)
                    @*@(e.Manager?.FullName??"puudub")*@
                </td>
            </tr>

        }
    </table>
    </div>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
